<div class="mx-24 my-6">
    <div class="flex justify-between">
        <div class="h-24 w-36">
            <img src='../../../assets/logo.png' >
        </div>
        <div class="flex justify-between my-24">
            <div class="mx-6 text-sm flex flex-col space-y-2">
                <p class="font-bold">Customer Service</p>
                <a>My Account</a>
                <a>FAQS</a>
                <a>Cash on Delivery Service</a>
                <a>Contacts Us</a>
            </div>
            <div class="mx-6 text-sm flex flex-col space-y-2">
                <p class="font-bold">Help & Information</p>
                <a herf="/">About Us</a>
                <a herf="/" >Shipping & Exchange Policy</a>
                <a herf="/">Terms & Condition</a>
                <a herf="/">Payment Information</a>
            </div>
            <div class="mx-6 text-sm flex flex-col space-y-2">
                <p class="font-bold">Quick Links</p>
                <a herf="www.google.com">Home</a>
                <a herf="/">Shop Now</a>
                <a herf="/">Cart</a>
                <a herf="/">Jobs</a>
            </div>
        </div>
        <div>
            <p class="text-xl" >Sign Up For Over Newsletters</p>
            <div class="my-4">
                <input type="text" class="bg-gray-200 rounded-md text-amber-500 p-2 h-12 md:w-72 sm:w-24 caret-amber-500 placeholder:text-sm placeholder:text-amber-500 placeholder:font-medium focus:outline-none" placeholder="Enter Email" #newItem>
                <button type="text" (click)="enteredEmail(newItem.value)" class="bg-amber-500 px-4 py-2 rounded-md mx-2 text-white">Sign Up</button>
            </div>
        </div>
    </div>
    <div class='text-amber-500 font-bold text-3xl'>
        Thanks For Visiting ❤️
    </div>
</div>