<div class="shadow-md">
<div class="flex justify-between my-4 mx-24">
    <div class="h-24 w-36">
    <img src='../../../assets/logo.png' >
    </div>
    <input type="text" class="bg-gray-200 rounded-md text-amber-500 p-2 h-12 md:w-96 sm:w-24 caret-amber-500 placeholder:text-sm placeholder:text-amber-500 placeholder:font-normal focus:outline-none" placeholder="Search for product">
    <div class="flex justify-between w-40">
      <fa-icon [icon]="faHeartCirclePlus" class="sm:text-1xl md:text-2xl" [ngStyle]="{color:'orange'}"></fa-icon>
      <fa-icon [icon]="faUser" class="sm:text-1xl md:text-2xl" [ngStyle]="{color:'orange'}"></fa-icon>
      <fa-icon [icon]="faShoppingCart" class="sm:text-1xl md:text-2xl" [ngStyle]="{color:'orange'}"></fa-icon>
    </div>
  </div>
</div>