<div class="bg-gray-50 h-96 w-full">
    <div class="flex justify-center ">
        <div class="h-full w-96">
            <p  class="text-amber-500 font-semibold text-3xl mt-12">Client Says</p>
            <fa-icon [icon] = "personIcon"></fa-icon>
            <p class="text-1xl font-medium mt-4 flex justify-center">Ghon Son</p>
            <p>Providing delivery of all Grocery items. Gifts delivery and grocery looks same path but by backend both are little bit different because Gift items</p>
        </div>
    </div>
</div>